In [433]:
def Fahrenheit(Temp_in_Celsius):
    print(9/5*Temp_in_Celsius+32)
Temp1=0
Temp2=10
Temp3=100
Fahrenheit(Temp1)
Fahrenheit(Temp2)
Fahrenheit(Temp3)

32.0
50.0
212.0

In [157]:
Exam1=[61.2,57.6,68.4,76.5,53.4,31.2,32.2,75.9,44.6,69.4,67.5,61.9,68.3,46.1,47.2,72.7,67.6,48.7,70.8,93.6,71.4,52.1,66.8,63.9,49.1,69.2,73.8,79.7,58.4,76.9,63.3,34.4,65.8,57.6,61.5]
maximum = max(Exam1)
minimum= min(Exam1)
print("The max is", maximum)
print("The min is", minimum)

The max is 93.6
The min is 31.2

In [435]:
AverageExam1= sum(Exam1)/len(Exam1)
AverageExam1

61.67714285714286

In [299]:
import numpy as np
Exam1=np.array([61.2,57.6,68.4,76.5,53.4,31.2,32.2,75.9,44.6,69.4,67.5,61.9,68.3,46.1,47.2,72.7,67.6,48.7,70.8,93.6,71.4,52.1,66.8,63.9,49.1,69.2,73.8,79.7,58.4,76.9,63.3,34.4,65.8,57.6,61.5])
Curve=(70-AverageExam1)+Exam1
Curve

array([ 69.52285714,  65.92285714,  76.72285714,  84.82285714,
        61.72285714,  39.52285714,  40.52285714,  84.22285714,
        52.92285714,  77.72285714,  75.82285714,  70.22285714,
        76.62285714,  54.42285714,  55.52285714,  81.02285714,
        75.92285714,  57.02285714,  79.12285714, 101.92285714,
        79.72285714,  60.42285714,  75.12285714,  72.22285714,
        57.42285714,  77.52285714,  82.12285714,  88.02285714,
        66.72285714,  85.22285714,  71.62285714,  42.72285714,
        74.12285714,  65.92285714,  69.82285714])

In [302]:
np.clip(Curve, 0,100.00)

array([ 69.52285714,  65.92285714,  76.72285714,  84.82285714,
        61.72285714,  39.52285714,  40.52285714,  84.22285714,
        52.92285714,  77.72285714,  75.82285714,  70.22285714,
        76.62285714,  54.42285714,  55.52285714,  81.02285714,
        75.92285714,  57.02285714,  79.12285714, 100.        ,
        79.72285714,  60.42285714,  75.12285714,  72.22285714,
        57.42285714,  77.52285714,  82.12285714,  88.02285714,
        66.72285714,  85.22285714,  71.62285714,  42.72285714,
        74.12285714,  65.92285714,  69.82285714])

In [304]:
import pandas as pd
athlete=pd.read_csv('https://raw.githubusercontent.com/akhadianharnowo/files/main/athlete.csv')

In [319]:
athlete.loc[1:10]
#The data is about athletes. It shows information about what  sport they play and how much they earn and other personal information.

,Rank,Name,Sport,Total Pay,Salary/Winnings,Endorsements,Nation,Gender,Year of birth,Birth Date,Place of Birth,Height (cm),Wikipedia Page,dbpedia Page,Image,Description
1,95,Adam Scott,Golf,"$17,700,000","$8,700,000","$9,000,000",Australia,Male,1980,16/07/1980,"Adelaide, Australia",183,https://en.wikipedia.org/wiki/Adam_Scott_(golfer),dbpedia.org/resource/Adam_Scott_(golfer),http://commons.wikimedia.org/wiki/Special:File...,Adam Derek Scott (born 16 July 1980) is an Aus...
2,60,Adrian Gonzalez,Baseball,"$21,500,000","$21,100,000","$400,000",United States,Male,1982,8/05/1982,"San Diego, California, United States",188,http://en.wikipedia.org/wiki/Adrian_Gonzalez,dbpedia.org/resource/Adrian_Gonzalez,http://commons.wikimedia.org/wiki/Special:File...,"Adrian Gonzalez (born May 8, 1982), also known..."
3,48,Alex Rodriguez,Baseball,"$22,900,000","$22,600,000","$300,000",United States,Male,1975,27/07/1975,New York City,190,http://en.wikipedia.org/wiki/Alex_Rodriguez,dbpedia.org/resource/Alex_Rodriguez,http://commons.wikimedia.org/wiki/Special:File...,"Alexander Emmanuel "" Alex "" Rodriguez (born Ju..."
4,93,Alfonso Soriano,Baseball,"$18,050,000","$18,000,000","$50,000",Dominican Republic,Male,1976,7/01/1976,"San Pedro de Macorís, Dominican Republic",185,http://en.wikipedia.org/wiki/Alfonso_Soriano,dbpedia.org/resource/Alfonso_Soriano,http://commons.wikimedia.org/wiki/Special:File...,"Alfonso Guilleard Soriano (born January 7, 197..."
5,27,Amar'e Stoudemire,Basketball,"$26,700,000","$21,700,000","$5,000,000",United States,Male,1982,16/11/1982,"Lake Wales, Florida",211,http://en.wikipedia.org/wiki/Amar%27e_Stoudemire,dbpedia.org/resource/Amar%27e_Stoudemire,http://commons.wikimedia.org/wiki/Special:File...,Amar'e Carsares Stoudemire ( /əˈmɑreɪˈstɒdəmaɪ...
6,75,Barry Zito,Baseball,"$20,400,000","$20,300,000","$100,000",United States,Male,1978,13/05/1978,"Las Vegas Valley, Nevada, United States",188,http://en.wikipedia.org/wiki/Barry_Zito,dbpedia.org/resource/Barry_Zito,http://commons.wikimedia.org/wiki/Special:File...,"Barry William Zito (born May 13, 1978) is an A..."
7,47,Blake Griffin,Basketball,"$23,000,000","$16,500,000","$6,500,000",United States,Male,1989,16/03/1989,"Oklahoma City, Oklahoma, United States",208,http://en.wikipedia.org/wiki/Blake_Griffin,dbpedia.org/resource/Blake_Griffin,http://commons.wikimedia.org/wiki/Special:File...,"Blake Austin Griffin (born March 16, 1989) is ..."
8,91,Branden Albert,Football,"$18,435,000","$18,400,000","$35,000",United States,Male,1984,4/11/1984,"Rochester, New York, United States",196,http://en.wikipedia.org/wiki/Branden_Albert,dbpedia.org/resource/Branden_Albert,http://en.wikipedia.org/wiki/Special:FilePath/...,"Branden Albert (born November 4, 1984) is an A..."
9,97,Brandon Marshall,Football,"$17,500,000","$16,800,000","$700,000",United States,Male,1984,23/03/1984,Pittsburgh,193,http://en.wikipedia.org/wiki/Brandon_Marshall,dbpedia.org/resource/Brandon_Marshall,http://commons.wikimedia.org/wiki/Special:File...,"Brandon Marshall (born March 23, 1984) is an A..."
10,74,Carl Crawford,Baseball,"$20,500,000","$20,200,000","$300,000",United States,Male,1981,5/08/1981,"Houston, United States",188,http://en.wikipedia.org/wiki/Carl_Crawford,dbpedia.org/resource/Carl_Crawford,http://commons.wikimedia.org/wiki/Special:File...,"Carl Demonte Crawford (born August 5, 1981), n..."

In [321]:
athlete.info()
#I see that there is one missing value in Image

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             100 non-null    int64
 1   Name             100 non-null    object
 2   Sport            100 non-null    object
 3   Total Pay        100 non-null    object
 4   Salary/Winnings  100 non-null    object
 5   Endorsements     100 non-null    object
 6   Nation           100 non-null    object
 7   Gender           100 non-null    object
 8   Year of birth    100 non-null    int64
 9   Birth Date       100 non-null    object
 10  Place of Birth   100 non-null    object
 11  Height (cm)      100 non-null    int64
 12  Wikipedia Page   100 non-null    object
 13  dbpedia Page     100 non-null    object
 14  Image            99 non-null     object
 15  Description      100 non-null    object
dtypes: int64(3), object(13)
memory usage: 12.6+ KB

In [451]:
athlete[['Name', 'Total Pay']].max()
#The highest pay is $80,000,000 for Zlatan

Name         Zlatan Ibrahimović
Total Pay           $80,000,000
dtype: object

In [450]:
athlete[['Name', 'Total Pay']].min()

Name         Aaron Rodgers
Total Pay     $105,000,000
dtype: object

In [455]:
athlete[['Total Pay']].mean()

Series([], dtype: float64)

In [456]:
athlete[['Name', 'Salary/Winnings']].max()
#The highest salary is for Zlatan with $8,700,000

Name               Zlatan Ibrahimović
Salary/Winnings            $8,700,000
dtype: object

In [457]:
athlete[['Name', 'Salary/Winnings']].min()

Name               Aaron Rodgers
Salary/Winnings      $10,000,000
dtype: object

In [458]:
athlete[['Name', 'Salary/Winnings']].mean()

Series([], dtype: float64)

In [462]:
athlete[['Name','Endorsements']].max()
#Zlatan has the highest endorsement

Name            Zlatan Ibrahimović
Endorsements            $9,000,000
dtype: object

In [460]:
athlete[['Name','Endorsements']].min()

Name            Aaron Rodgers
Endorsements               $0
dtype: object

In [468]:
athlete[['Name','Endorsements']].mean()

Series([], dtype: float64)

In [471]:
athlete.corr()
# I see that that year of birth and rank has the weakest correlation, while height and year of birth has the highest. It isnt strong though.

                   Rank  Year of birth  Height (cm)
Rank           1.000000      -0.003020     0.056652
Year of birth -0.003020       1.000000     0.062957
Height (cm)    0.056652       0.062957     1.000000